body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url("../img/transp_bg.png") top center repeat;
  background-size: auto;
}

header {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/* Screens */

body {
  color: #333;
}

.title .title-content {
  display: block;
  width: 40rem;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
  font-size: 5rem;
  font-weight: 400;
  cursor: pointer;
}

.title .title-content h1 {
  position: relative;
}

.title .title-content h1:after {
  content: '';
  background-color: #333;
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.title .title-content h1:hover:after {
  width: 280px;
}

.title h2 {
  font-size: 3rem;
}

.title .adv {
  margin-top: 3rem;
  margin-left: 8rem;
}

.title .adv-content {
  font-size: 2rem;
}

@media screen and (max-width: 1100px) {
  .title-content {
    margin: 0 !important;
    width: 40rem !important;
  }

  .title-content h1 {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 780px) {
  .title {
    width: calc(100% - 30px);
    text-align: center;
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
  }

  .title-content {
    display: inline-block !important;
    width: 45rem !important;
  }

  .title-content h1 {
    margin-left: 8rem;
  }

  .captains {
    margin: 0 auto;
    margin-top: 5rem;
    position: static !important;
    display: block;
    width: 35rem;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6e58d;
  padding: 2rem 2rem 2rem 1rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  min-width: 39rem;
  cursor: pointer;
}

.card .user-photo img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.card .user-inf {
  display: inline-block;
  width: 26rem;
  text-align: center;
}

.card .user-inf .user-name {
  font-size: 2rem;
  font-weight: 400;
}

.card .user-inf .user-phone {
  font-size: 1.6rem;
  font-weight: 350;
}

.card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #faf0bc;
}

.card--captain .user-inf {
  position: relative;
}

.card--captain .user-rank {
  position: absolute;
  font-size: 2.5rem;
  top: -3.5rem;
  font-weight: 400;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card--captain .user-phone {
  text-align: center;
}

.card--captain:hover {
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #faf0bc;
}

.duty {
  background-color: lime;
  position: relative;
}

.duty .user-duty {
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-5%);
  transform: translateX(-5%);
  font-size: 2rem;
  font-weight: 500;
}

.duty-icon {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: 3rem;
  height: 3rem;
}

.duty:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #80ff80;
}

@media screen and (max-width: 780px) {
  .card--captain:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color: #faf0bc;
  }
}

.captains {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #badc58;
}

.members {
  margin-top: 30rem;
  text-align: center;
}

.members-title {
  font-size: 3.8rem;
  position: relative;
  margin-bottom: 5rem;
  cursor: pointer;
}

.members-title:after {
  content: '';
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.members-title:hover:after {
  width: 110px;
}

.members-cards .card {
  width: 35rem;
  margin-bottom: 1rem;
}

.members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  .members {
    margin-top: 5rem;
  }
}